.displayNone {
    display: none;
}

/* BUTTONS */
.moreInfoBTN {
    padding: 3px 20px;
    margin: 5px;
    border-radius: 5px;
    background: #91c0dc;
    color: #fff;
    cursor: pointer;
}

.letsGoBTN {
    padding: 20px 20px;
    margin: 40px 40px;
    font-weight: 700;
    border-radius: 11px;
    background: #2f7c68;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
/* HERO */
.heroContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.heroContent {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: #fff;
}

.heroContentItem{
    margin: 15px 10px;
    font-weight: 700;
    font-size: 1.1rem;
}

.subTitle {
    text-align: center;
    font-size: 1.3rem;
    margin: 40px 0 20px 0;
    color: #2e2e2e;
}

/* SECTION 2 */
.infoSection2 {
    text-align: center;
    margin: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #717171;
    font-size: 1rem;
}

.infoSection2 span{
    color: green
}


.selectBoxContainer {
  text-align: center;
  margin: 30px auto 20px auto;
}

.howItsDone {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #2e2e2e;
}
.unorderedList {
    padding: 0;
}
.listItemsContainer {
    margin: 40px 20px;
}


.listItem  {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: .9rem;
  margin: 15px 10px;
  color: #717171;
}


.additionalInfo {
    margin: 20px 20px 10px 0;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: start;
    color: #717171;
}

.heroContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.section2Icon {
    text-align: center;
}

.infoSectionTag {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 30px 20px 10px 20px;
    line-height: 1.5;
    color: #717171;
}

.thinkingImageContainer {
    position: relative;
}

.articleTag {
    text-align: center;
    font-size: 1rem;
    margin: 30px 20px;
    line-height: 1.5;
    color: #717171;
}

.techStackTitle {
    position: absolute;
    top: 82%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 3px black;
    z-index: 1000;
    text-align: center;
    line-height: 1.3;
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0px auto;
    padding: 0 15px;
    color: #fff;
    
}

.techStackTitle span {
    font-weight: 700;
    font-size: 1.5rem;
}

.linkedinIconContainer {
    display: flex;
    justify-content: center;
}

.linkedinIcon {
    text-align: center;
    cursor: pointer;
    margin: 20px;
}

.footerContainer {
    background: #50867d;
}

.footerContentContainer {
    display: flex;
    justify-content: center;
}

.footerContent {
    color: #fff;
    line-height: 1.5;
    margin: 20px;
}

.emailContact {
    text-align: center;
    color:#fff;
    margin-top: 20px;
    padding-bottom: 20px;
}