/* PRIMARY COLOUR = #91c0dc */
/* TEXT COLOUR #2e2e2e */

.container {
}

.heroContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center
}

.titleHeroContainer {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 2px 2px 3px black;
    line-height: 1.3;
    text-align: center;
    padding: 1rem;
}
    
.titleHeroContainer span {
    color: rgb(30, 171, 39);
    font-size: 1.5rem;
}

.subTitle {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 1.3rem;
}
